<div cdkDropListGroup>

  <!-- To do -->
  <div class="todo-container">
    <div id="todo-header">
        <h2>To do</h2>
        <a id="add-button" (click)="unselectTask()" routerLink="/form"><img src="/assets/icons/plus-circle.svg"
            alt="Bootstrap" width="24" height="24"></a>
    </div>
    <div cdkDropList [cdkDropListData]="todo" class="todo-list" (cdkDropListDropped)="drop($event)">
      <div class="todo-box" *ngFor="let task of todo" cdkDrag (click)="showDetails(task)">{{task.title}}</div>
    </div>
  </div>

  <!-- Done -->
  <div class="todo-container">
    <h2>Done</h2>
    <div cdkDropList [cdkDropListData]="done" class="todo-list" (cdkDropListDropped)="drop($event)">
      <div class="todo-box" *ngFor="let task of done" cdkDrag (click)="showDetails(task)">{{task.title}}</div>
    </div>
  </div>
</div>